<?xml version = "1.0" encoding = "UTF-8"?>


        <!--THIS IS THE XML FOR THE ANNOTATION-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
    <!--We are using the annotation method instead-->
    <context:annotation-config/>
    <!--Where to start scanning for annotations-->
    <context:component-scan base-package="com.pluralsight"/>
</beans>








<!--THIS IS THE IMPLEMENTATION OF FULL XML INJECTION-->
<!--There are no annotations in the code with the full xml method-->



    <!--<beans xmlns = "http://www.springframework.org/schema/beans"-->
        <!--xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"-->
        <!--xsi:schemaLocation = "http://www.springframework.org/schema/beans-->
        <!--http://www.springframework.org/schema/beans/spring-beans.xsd">-->

        <!--&lt;!&ndash;simple bean implementation&ndash;&gt;-->
        <!--<bean name="repositoryImplementation" class="com.pluralsight.repository.HibernateCustomerRepositoryImpl"/>-->
        <!--<bean name="secondRepositoryImplementation" class="com.pluralsight.repository.SecondRepoImpl"/>-->



        <!--&lt;!&ndash;setting implementation for a class and injecting the required dependencies&ndash;&gt;-->
    <!--&lt;!&ndash;THIS IS REQUIRED IN CASE THERE ARE MULTIPLE IMPLEMENTATIONS&ndash;&gt;-->
        <!--<bean name="customerService" class="com.pluralsight.service.CustomerServiceImp" >-->

            <!--&lt;!&ndash;This is for setter injection &ndash;&gt;-->
            <!--&lt;!&ndash;<property name="customerRepository" ref="repositoryImplementation"></property>&ndash;&gt;-->

            <!--&lt;!&ndash;this is for constructor injection&ndash;&gt;-->
            <!--<constructor-arg index="0" ref="repositoryImplementation"/>-->

    <!--</bean>-->


    <!--&lt;!&ndash;this is the autowired option. Looks very complicated at scale.&ndash;&gt;-->
    <!--&lt;!&ndash;<bean name="customerService" class="com.pluralsight.service.CustomerServiceImp" autowire="constructor"/>&ndash;&gt;-->


        <!--</beans>-->