<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="someInjectedName"
          class="com.pluralsight.repository.HibernateCustomerRepositoryImpl"/>

    <bean name="cutomerService" class="com.pluralsight.service.CustomerServiceImp">
        <property name="customerRepository" ref="someInjectedName"></property>
    </bean>

</beans>